.action-bar{
    border-radius: 10px;
    top: -50px;
    transition: 1s;
    margin-bottom: 15px;
    flex-wrap: nowrap;
    .container{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        -webkit-flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        min-height: 48px;
        padding: 0;
        margin-bottom: 0;
        list-style: none;
        &:first-child{
            justify-content: flex-start;
        }
        .btn{
            margin-right: 10px;
        }
    }
}

.action-bar.view{
    top:0px;
}
