// Here you can add other styles
.img-login{
    background-image: url(../assets/img/BPM.jpeg);
    background-position: center;
    background-size: cover;
}

.list-products{
    .btn{
        min-width: 61px;
    }
}

.modal-body{
    display: block;
    margin: auto;
    h4{
        font-weight: 900;
    }
    .shape{
        background: radial-gradient(transparent,#f7e9ee);
        border-radius: 100px;
        height: 180px;
        width: 180px;
        display: block;
        margin: auto;
    }
    .delete-reg{
        width: 200px;
        display: block;
        margin: auto;
    }
}

.modal-footer,
.card-footer{
    display: flex;
    justify-content:space-evenly;
}