// Variable overrides
.btn{
    border-radius: 45px!important;
    transition: all 0.3s ease 0s!important;
    svg{
        width: 0.7rem!important;
        height: 0.7rem!important;
        font-size: 0.5rem!important;
        margin-right: 5px!important;
    }
}

.btn-info{
    background-color: #a869ff !important;
    border-color: #a869ff!important;
    color: white!important;
    box-shadow: 0px 8px 15px rgb(136 51 254 / 10%)!important;
    &:hover{
        background-color: #a869ff!important;
        box-shadow: 0px 8px 15px rgb(136 51 254 / 25%)!important;
        transform: translateY(-3px);
    }
}

.btn-primary{
    background-color: #59c6e2!important;
    border-color: #59c6e2!important;
    color: white;
    box-shadow: 0px 8px 15px rgb(89 198 226 / 10%)!important;
    &:hover{
        background-color: #59c6e2!important;
        box-shadow: 0px 8px 15px rgb(89 198 226 / 25%)!important;
        transform: translateY(-3px);
    }
}

.btn-danger{
    background-color: #ea4c89!important;
    border-color: #ea4c89!important;
    color: white;
    box-shadow: 0px 8px 15px rgb(234 76 137 / 10%)!important;
    &:hover{
        background-color: #ea4c89!important;
        box-shadow: 0px 8px 15px rgb(234 76 137 / 25%)!important;
        transform: translateY(-3px);
    }
}

.btn-outline-info{
    background-color: transparent!important;
    color: #a869ff !important;
    border-color: #a869ff!important;
    box-shadow: 0px 8px 15px rgb(136 51 254 / 10%)!important;
    &:hover{
        background-color: #a869ff!important;
        box-shadow: 0px 8px 15px rgb(136 51 254 / 20%)!important;
        color: #fff!important;
        transform: translateY(-3px);
    }
}

.btn-outline-primary{
    background-color: transparent!important;
    color: #59c6e2!important;
    border-color: #59c6e2!important;
    box-shadow: 0px 8px 15px rgb(89 198 226 / 10%)!important;
    &:hover{
        background-color: #59c6e2!important;
        box-shadow: 0px 8px 15px rgb(89 198 226 / 20%)!important;
        color: #fff!important;
        transform: translateY(-3px);
    }
}

.btn-outline-danger{
    background-color: transparent!important;
    color: #ea4c89!important;
    border-color: #ea4c89!important;
    box-shadow: 0px 8px 15px rgb(234 76 137 / 10%)!important;
    &:hover{
        background-color: #ea4c89!important;
        box-shadow: 0px 8px 15px rgb(234 76 137 / 20%)!important;
        color: #fff!important;
        transform: translateY(-3px);
    }
}